@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

// ? Reassign any bulma variables
$family-sans-serif: "Roboto",
sans-serif;

// ! example on how to customize, skip to section "Add your own Bulma styles":
// https://bulma.io/documentation/customize/with-sass-cli/

// ? Import bulma
@import "../../node_modules/bulma/bulma.sass";

.all {
  background-color: black;
}

// navigations

.navbar {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vh;
  margin: 20px;
}

.navbar-item {
  font-family: 'Space Mono', monospace;
  color: white;
  font-size: 20pt;
}

// home

.section-home {
  height: 100vh;
  width: 100vw;
  background-image: url("/ISS.png");
  background-size: cover;
}


.home-text h1 {
  font-size: 60px;
  font-family: 'Space Mono', monospace;
  color: white;
}

.home-text .subtitle {
  font-size: 20px;
  margin-top: 40px;
}

.home-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  margin: 100px;

}

// tracker


.section-tracker {
  display: flex;
  justify-content: flex-start;
}

.leaflet-container {
  margin: 20px;
  height: 100vh;
  width: 100vh;
}


// people

.section-people {
  box-sizing: border-box;
  width: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: 'Space Mono', monospace;
  min-height: 100vh;
}

.people-title {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.people-title h1,
h2 {
  font-size: 30px;
}

.people-title input,
button {
  margin-top: 30px;
  font-family: 'Space Mono', monospace;
}

.search-input {
  width: 300px;
  height: 60px;
  border-radius: 5px;
  font-size: 20px;

  background-color: white;
}

.search-button {
  width: 100px;
  height: 60px;
  border-radius: 5px;
  margin-left: 30px;
  background-color: rgb(1, 0, 10);
  color: white;
  font-size: 20px;

}

.astronaut-list-container {
  margin: 30px;
}

.astronaut-list-item {
  margin-bottom: 30px;
}

.astronaut-name,
.craft-name {
  color: white;
  font-size: 20px;
}

// profiles

.section-profile {
 min-height: 100vh; 
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column; 
  font-family: 'Space Mono', monospace;
}

.profile-card {
  display: flex;
  flex-direction: row; 
  width: 100%; 
  align-items: flex-start; 
  width: 900px; 
  border: 1px solid white; 
  padding: 10px; 
  border-radius: 10px; 
  margin: 30px; 
  
  // color: white; 
}

.profile-card-text { 
  font-size: 20px; 
  margin-top: 10px; 
  color: white; 
  width: 70%;  
  margin-left: 30px; 
}

.profile-card-text-name { 
  font-size: 30px;  
  font-weight: bold; 
}

.profile-card img { 
width: 30%;
// height: 50%;
}







// Launches 

.section-launch {
  display: flex;
  flex-direction: column;
}




// launch info


.section-launch-info {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1 1;
  box-sizing: border-box;
}


.launch-info-card {
  display: flex;
  flex-direction: row;
  font-family: 'Space Mono', monospace;
  color: white;
  // margin: 30px; 
}

.launch-info-card .launch-info-name {
  font-size: 18pt;
  font-weight: bold;
  //   margin: 30px;  
}

.launch-info-card p {
  font-size: 15pt;
  // margin: 30px;  
}

.launch-info-card .launch-info-text,
img {
  margin: 30px;
  width: 50%;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

